<h1>Welcome, <%= current_user.username %></h1>

<table id='repos-table'>
    <tr>
      <th>Public Repos</th>
    </tr>
    <div >
      <% @repos[:public].each do |repo|%>
      <tr>
        <td class='repo'>
          <p><%= repo.name %></p>
        </td>
      <% end%>
      </tr>
    </div>
  </table>

<table id='repos-private'>
    <tr>
      <th>Private Repos</th>
    </tr>
    <div >
      <% @repos[:private].each do |repo|%>
      <tr>
        <td class='repo'>
          <p><%= repo.name %></p>
        </td>
      <% end%>
      </tr>
    </div>
  </table>